.container {
  position: relative;
  font-family: futura book;
}

.categoryAndNameContainer {
  margin-bottom: 100px;
}

.logo {
  height: 50px;
  width: 50px;
}

.logoContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.category, .name {
  color: #27221d;
  font-size: 24px;
  line-height: 24px;
  display: block;
  text-transform: uppercase;
  overflow: hidden;
  width: 80%;
}
.category {
  font-family: futura book;
}

.name {
  font-family: futura book;
  font-weight: bold;
  margin-bottom: 0;
}
.newContainer{
display: block;
}
.new {
  display: inline-flex;
  padding: 5px 8px;
  font-family: futura book;
  font-size: .6875rem;
  text-transform: uppercase;
  color: #ee1c25;
  border: 1px solid #ee1c25;
  text-align: right;
  line-height: 1.15;
  position: absolute;
  top: 100px;
  right: 0;
}