.container {
  font-family: futura book;
  width: 1350px;
  max-width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.productImages {
  display: inline-block;
  vertical-align: top;
  width:48%;
}

.productDetails {
  max-width: 48%;
  margin-left: 0;
  /* float: none; */
  display: inline-block;
  padding-left: 40px;
}