.container {
  position:relative
}

.carouselComponent {
  display:flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 40rem;
}


.carouselComponent::-webkit-scrollbar {
  display: none;
}

.carouselComponent img {
  height: 104px;
  width: 117px;
}

.carouselComponentWrapper {
  display: flex;
  position: absolute;
  width: 91%;
}

.carouselComponentWrapper button {
  border: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin: auto;
}
