.container {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 98%;
  margin-bottom: 20px;
}


.expandText {
  display: inline-block;
  overflow: visible;
  width: 98%;
  margin-bottom: 20px;
}

.hideButton {
  display: none;
}

.openAndCloseButton {
  text-align: right;
  cursor: pointer;
  left: 0;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
  position: absolute;
  right: 0;
  display: inline-block;
  text-align: right;
  top: 1rem;
}


.descriptionTitleContainer {
  display: inline-block;
}

.descriptionTitle {
  display: inline-block;
  width: 1350px;
  font-size: 30px;
}

.showMoreButton {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: auto;
  text-align: right;
  background: linear-gradient(left,rgba(255,255,255,0) 23%,rgba(255,255,255,0) 13%,#fff 57%);
  background: linear-gradient(to right,rgba(255,255,255,0) 23%,rgba(255,255,255,0) 13%,#fff 57%);
  cursor: pointer;
  color: #999;
  padding: 0;
  margin: 0;
  font-family: futura book;
  font-size: .9375rem;
  text-transform: none;
  line-height: 22px;
  height: 20;
  width: 220;
}
